body{
            font-family: 'Courier New', Courier, monospace;
            background-color: coral
        }
#titulo {
            font-family: Arial, Helvetica, sans-serif;
            color: green;
            font-size: 62px;
        }