body{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(0, 54, 0);
    color: #e5ff00;
}
#titulo {
            color: rgb(255, 0, 0);
            font-size: 62px;
            font-family: 'Courier New', Courier, monospace;
        }
.nombre {
            color: yellow;
            font-size: 12px;
            font-family: 'Courier New', Courier, monospace;
        }